@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: gray;
}

body {
  background-color: #fff;
}
.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  padding: 5px 10px;
}

.header .logo {
  width: auto;
}

.header .logo a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #2197f3;
  font-size: 1.8rem;
}

.header .icon {
  height: 56px;
  width: 56px;
  cursor: pointer;
  background: url("https://api.iconify.design/ph/users.svg?color=%232197f3&width=56")
    no-repeat center center / contain;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;
  background-color: #fff;
}

.nav-links:hover {
  background-color: #fff;
}

nav {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1.8px solid #2197f3;
}

.nav-links li a {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  font-size: 0.8rem;
  text-decoration: none;
  color: #000;
}

.nav-links li {
  list-style: none;
}

.nav-links li a:hover {
  color: #3098f2;
  font-weight: bold;
}
/*.nav-links li:hover {
    background-color: #8DCBF2;
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }
*/
.nav-links li:nth-child(3) {
  background-color: #069898;
  color: #fff;
  border-radius: 5px;
}

.nav-links li a:nth-child(3) {
  color: #fff;
}
.banner {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  padding: 0px 10px;
}

.banner h1 {
  color: #069898;
  margin-left: 20px;

  font-size: 2rem;
}

.banner p {
  font-size: 0.9rem;
  color: #000;
  margin-left: 20px;
  font-weight: 400;
}
/**/

.banner2 {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding: 0px 0px;
}

.banner2 h1 {
  color: #069898;

  text-align: center;
  font-size: 1.5rem;
}

.banner2 p {
  font-size: 1rem;
  color: #000;
  margin-left: 20px;
  font-weight: 400;
  text-align: center;
}

.phone {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.carrousel {
  display: flex;
  background: #f8f9fa;
  border-radius: 45px 45px 0px 0px;
  align-items: center;
  justify-content: center;
}
.carrousel img {
  width: 100%;
}

.extensions {
  display: flex;
  background: #211e48;
  justify-content: space-between;
}

.extensions .list {
  margin-left: 20px;

  flex-direction: column;

  margin-right: 20px;
  padding-bottom: 20px;
}

.extensions .list p {
  border-bottom: 1.8px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.extensions h1 {
  border-bottom: 1.8px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.extensions .list ul {
  list-style: none;
  flex-direction: column;
}

.extensions .list ul li {
  font-size: 0.8rem;
  padding-top: 3px;
  cursor: pointer;
}
.banner3 button {
  color: #ffff;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #069898;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: #fff;
  padding: 0.5% 2% 1% 1%;
}
.banner3 button a {
  text-decoration: none;
  color: #FFF;
}

.banner2 button a {
  text-decoration: none;
}
.banner3 {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding: 0px 10px;
}

.banner3 button:hover {
  cursor: pointer;

  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background-color: #9a15ca;
}

.extensions .list ul li:hover {
  color: rgba(246, 244, 244, 0.8);
}

.extensions .list:nth-child(2) ul li {
  font-size: 0.8rem;
  padding-top: 3px;

  font-size: 0.8rem;
}

.extensions .list:nth-child(2) {
  font-size: 0.8rem;
  padding-top: 72px;
}

footer {
  background-color: #1c3150;
}
footer h2 {
  margin: 0 5px 5px 0;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 5px;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
