@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
}

body {
  background-color: #e6e9ee;
}
.banner {
  display: flex;

  align-items: center;
  flex-direction: column;
}

.banner h1 {
  color: #bc2fee;
  font-size: 2rem;
  font-weight: bold;
  padding-right: 10%;
}

.banner p {
  color: #bc2fee;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (min-width: 480px) {
  .banner p {
    color: #bc2fee;
    font-size: 0.9rem;
    font-weight: bold;
    padding-right: 8%;
  }
}

.form_pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 10%;
  margin-right: 10%;
}


  

.form_pago input {
  width: 80%;
  font-size: 0.6rem;
  text-align: calc(80%);
  color: #000;

  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 8px;
  border: 2px solid gray;
}

.form_pago > h1 {
  padding-bottom: 5%;
  width: 80%;
  text-align: center;

  color: #000;
  font-weight: 0.7rem;

  font-weight: bold;
}

.form_pago .cells {
  width: 100%;

  display: flex;
}

.form_pago .cells input {
  width: 80%;
  font-size: 0.6rem;
 
  color: #000;
  height: 50px;

  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 8px;
  border: 2px solid gray;
  margin-left: 
  45px;
}

.form_pago .cells input::placeholder {
  
  font-weight: 300;
  font-size: .8rem;
 
}

.form_pago .cells2 {
  width: 84%;

  display: flex;
}

.form_pago .cells2 input {
  display: flex;

  padding-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
  
  flex-direction: column;

  border-radius: 5px;
}

input::placeholder {
  padding-left: 20px;
  font-size: 0.7rem;
}


.form_pago .cells3 {
    width: 80%;
    padding-top: 20px;
    display: flex;
 
  }.form_membresia {
   margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
  }

  
  .form_membresia span {
    width: 80%;

    padding-bottom: 10px;
  }

  span p{

    text-align: start;
    color: #bc2fee;
    font-size: .7rem;
  }
  .form_membresia div {
    display: flex;
    border-radius: 5px;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid gray;
    align-items: center;
  }
  .form_membresia div input {
    width: 30px;
    height: 20px;
    color: #000;
  
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 8px;
    border: 2px solid #EEE;
  }
  
  .form_membresia ::-webkit-input-placeholder {
    color: blue;
  }
  
  .form_membresia div p {
    padding-top: 2%;
    width: 80%;
    margin-left:10px;
    margin-bottom: 5px;
   
    color: #bc2fee;
    font-size: 0.7rem;
    font-weight: 300;
  }

  .form_membresia button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #17C528;

  }

  .form_membresia button a{
    text-decoration: none;
    
  }

  h4{
    text-align: center;
    color: gray;
    font-size: .7rem;
    font-weight: 300;
    margin-bottom: 10px;
  }

  footer{
    padding-top: 15px;
    background: #130FEE;
    border-radius: 63px 63px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  
